# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cgi

# password files
.htpasswd
ftpsync.settings

# MaxMind DB
*.mmdb
*.doc*

# archives
*.tar.gz

# images
*/images/*
